.loader {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background-color: #fff;
  border: 10px solid #2d2dc4;
  border-radius: 50%;
  animation: fill infinite 1.5s;
}

@keyframes fill {
  from {
    border: 6px solid #2d2dc4;
    scale: 1;
  }
  50% {
    border: 60px solid #2d2dc4;
    scale: 1.2;
  }
  to {
    border: 6px solid #2d2dc4;
    scale: 1;
  }
}
