nav {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #fff;
}

nav img {
  width: 170px;
}

/* Media Queries */
/* Extra extra large */
@media only screen and (min-width: 1600px) {
  nav {
    position: unset;
  }
}

/* Small */
@media only screen and (max-width: 768px) {
  nav {
    position: unset;
  }
}
